@import 'leaflet/dist/leaflet.css';

body {
  color: #ededed;
  background:  #000080;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  width: fit-content;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.fields-row {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.field-with-unit {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}